*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background: url("425430.jpg");
}
.leftdiv{
    width: 240px;
    height: 100%;
    float: left;
    background-color:#2D2D2D;
}
.lefthead{
  width: 30%;
    margin: 80px auto;
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition:all 0.5s
    -moz-transition:all 0.5s
}
.lefthead img{
    width: 100%;
    opacity: 0.3;
}
.lefthead:hover{
    transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -moz-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
}
.leftguide{
    width: 100%;
    margin-top: 150px;
}
.leftguide ul{
    width: 100%;
}
.leftguide li{
    width: 100%;
    padding: 0;
    position: relative;
}
.leftguide a{
    width: 100%;
    height: 72px;
    display: block;
    text-decoration: none;
}
.leftguide img{
    width: 20%;
    margin: 10px 15px;
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition:all 0.5s
    -moz-transition:all 0.5s
}
.leftguide a:hover img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.main-item{
    display: block;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 10px;
    color: white;
    font-size: 22px;
    font-family:Microsoft YaHei;
}
.sub-item{
    display: block;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 35px;
    color: white;
    font-size: 15px;
    opacity: 0.3;
    font-family:Microsoft YaHei;
}
.touchme{
    margin-top: 150px;
    width: 100%;
}
.touchme ul{
    width: 100%;
}
.touchme li{
    display: inline-block;
    width: 10%;
    margin-left: 3%;
    position: relative;

}
.touchme img{
    width: 100%;
}
.touchme .img2{
position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition:all 0.2s linear;
}
.touchme li:hover .img2{
    opacity: 1;
}
footer{
   text-align: center;
    color: white;
    margin-top: 10px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.rightdiv{
     width: 1000px;
     height: 100%;
     float: left;
 }
.guide{
    width: 100%;
    height: 220px;
     margin-top: 200px;
    margin-left: 250px;
    text-align: center;
 }
.link{
    width:180px;
    height: 220px;
    float: left;
    margin-right: 10%;
}
.ico{
display: block;
    width: 180px;
    height: 170px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.ico:hover{
    transform: rotate(360deg) scale(1.3);
    -webkit-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
}
.ico1{
    background: url("mission.png") no-repeat center center;
}
.ico2{
    background: url("play.png") no-repeat center center;
}
.ico3{
    background: url("touch.png") no-repeat center center;
}
.box a{
    display: block;
    width: 180px;
    height: 45px;
    border: 3px solid white;
    text-decoration: none;
    position: relative;
}
.box a:hover .sub-name{
    transform: translate(15px);
    -webkit-transform: translate(15px);
}
.mainname{
    display: block;
    color: #2ecc71;
    font-family: Microsoft YaHei;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 8px;
}
.sub-name{
    display: block;
    width: 26px;
    height: 20px;
    background: url("allow.png");
    position: absolute;
    left: 130px;
    top: 14px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.leftbox{
    position: absolute;
    left: -110%;
    top:-3px;
    background-color: white;
    width: 0;
    height: 3px;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .leftbox{
    width: 180px;
    left: 0;
    opacity: 1;
}
.topbox{
    position: absolute;
    right: -3px;
    top:-220%;
    background-color: white;
    width: 3px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .topbox{
    top: 0;
    height: 45px;
    opacity: 1;
}
.rightbox{
    position: absolute;
    right: -110%;
    bottom:-3px;
    background-color: white;
    width: 0;
    height: 3px;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .rightbox{
    right: 0;
    width: 180px;
    opacity: 1;
}
.bottombox{
    position: absolute;
    left: -3px;
    bottom:-220%;
    background-color: white;
    width: 3px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .bottombox{
    bottom: 0;
    height: 45px;
    opacity: 1;
}
