*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background: url("425430.jpg");
}
.leftdiv{
    width: 240px;
    height: 100%;
    float: left;
    background-color:#2D2D2D;
    position: relative;
}
.lefthead{
  width: 30%;
    margin: 80px auto;
    position: relative;
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition:all 0.5s
    -moz-transition:all 0.5s
}
.lefthead img{
    width: 100%;
}
.theshowimg{
    opacity: 1;
}
.thehideimg{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.lefthead:hover .thehideimg{
    opacity: 1;
}
.lefthead:hover{
    transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -moz-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
}
.leftguide{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 40%;
}
.leftguide ul{
    width: 100%;
}
.leftguide li{
    width: 100%;
    padding: 0;
    position: relative;
}
.leftguide a{
    width: 100%;
    height: 72px;
    display: block;
    text-decoration: none;
}
.leftguide img{
    width: 20%;
    margin: 10px 15px;
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition:all 0.5s
    -moz-transition:all 0.5s
}
.leftguide a:hover img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.main-item{
    display: block;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 10px;
    color: white;
    font-size: 22px;
    font-family:Microsoft YaHei;
}
.sub-item{
    display: block;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 35px;
    color: white;
    font-size: 15px;
    opacity: 0.3;
    font-family:Microsoft YaHei;
}
.touchme{
    width: 100%;
    position: absolute;
    left: 0;
    bottom:60px;
}
.touchme ul{
    width: 100%;
}
.touchme li{
    display: inline-block;
    width: 10%;
    margin-left: 3%;
    position: relative;

}
.touchme img{
    width: 100%;
}
.touchme .img2{
position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.1s linear;
    -webkit-transition:all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition:all 0.1s linear;
}
.touchme li:hover .img2{
    opacity: 1;
}
footer{
   text-align: center;
    color: white;
    margin-top: 10px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    position: absolute;
    left: 10px;
    bottom: 20px;
}
.rightdiv{
     max-width: 100%;
     height: 100%;
     float: left;
    position: relative;
 }
.guide{
    width: 100%;
    height: 220px;
     margin-top: 30%;
    margin-left: 35%;
    text-align: center;
 }
.link{
    width:180px;
    height: 220px;
    float: left;
    margin-right: 100px;
    position: relative;
}
.ico{
display: block;
    width: 180px;
    height: 170px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.ico:hover{
    transform: rotate(360deg) scale(1.3);
    -webkit-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
}
.ico1{
    background: url("mission.png") no-repeat center center;
}
.ico2{
    background: url("play.png") no-repeat center center;
}
.ico3{
    background: url("touch.png") no-repeat center center;
}
.box a{
    display: block;
    width: 180px;
    height: 45px;
    border: 3px solid white;
    text-decoration: none;
    position: relative;
}
.box a:hover .sub-name{
    transform: translate(15px);
    -webkit-transform: translate(15px);
}
.mainname{
    display: block;
    color: #2ecc71;
    font-family: Microsoft YaHei;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 8px;
}
.sub-name{
    display: block;
    width: 26px;
    height: 20px;
    background: url("allow.png");
    position: absolute;
    left: 130px;
    top: 14px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.leftbox{
    position: absolute;
    left: -110%;
    top:-3px;
    background-color: white;
    width: 0;
    height: 3px;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .leftbox{
    width: 180px;
    left: 0;
    opacity: 1;
}
.topbox{
    position: absolute;
    right: -3px;
    top:-220%;
    background-color: white;
    width: 3px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .topbox{
    top: 0;
    height: 45px;
    opacity: 1;
}
.rightbox{
    position: absolute;
    right: -110%;
    bottom:-3px;
    background-color: white;
    width: 0;
    height: 3px;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .rightbox{
    right: 0;
    width: 180px;
    opacity: 1;
}
.bottombox{
    position: absolute;
    left: -3px;
    bottom:-220%;
    background-color: white;
    width: 3px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.button:hover .bottombox{
    bottom: 0;
    height: 45px;
    opacity: 1;
}
.tooltip{
    position: absolute;
    padding: 0 14px;
    height: 35px;
    line-height: 35px;
    background-color: #2ecc71;
    top: 100px;
    border-radius: 3px;
    color: white;
    font-size:16px;
    font-weight: bold;
    text-transform:none;
    margin: 0 auto;
    white-space: nowrap;
    opacity: 0;
    z-index: 100;
}
.tooltip em{
    font-style: normal;
}
.tooltip span{/*三角形怎么画*/
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 7px solid transparent;
    border-top-color: #2ecc71;
    left: 50%;
    margin-left: -3px;
    bottom:-14px;
}
.bigtitle{
    width: 500px;
    margin-left: 35%;
    margin-top: 7%;
}
.bigtitle a{
    text-decoration: none;
}
.bigtitle h1{
    color: white;
    font-size: 70px;
    font-family: arial, helvetica, sans-serif;
}
.bigtitle p{
    color: white;
    font-size: 35px;
    font-family: arial, helvetica, sans-serif;
}

